page-landing {

 
    .fit {
        height: 100%;
        width: 100%;
    }

    .info {
        height: 100%;
        width: 100%;
    }

    .info p {
         vertical-align: middle;
         line-height: 1.7;
    }

    .image {
        background-image: url("../assets/imgs/Kingston.jpg");
    }

}
